<!--管理员登陆之后的个人中心-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('管理员')"></head>
<style>
    div.container div.row div {
        margin: 5px 0px;
        text-align: center;
    }
</style>
<body>
<div>
    <div id="workingArea">
        <div class="container">
            <!--<div th:replace="include/admin/adminNavigator::html"></div>-->
            <div class="row">
                <!--导航栏-->
                <div class="col-md-12">
                    <div th:replace="include/admin/adminNavigator::html"></div>
                </div>

                <!--面包屑导航-->
                <div class="col-md-12" style="text-align: left">
                    <ol class="breadcrumb">
                        <li>个人中心</li>
                    </ol>
                </div>

                <!--栅栏布局3列-->
                <div class="col-md-3">
                    <div th:replace="include/admin/adminLeftMenu::html"></div>
                </div>
                <!--栅栏布局9列开始-->
                <div class="col-md-9 ">

                </div>
                <!--栅栏布局9列结束-->
            </div>
        </div>
    </div>
</div>
<!--前后端交互-->
<script>
    var vue=new Vue({
        el:'#workingArea',
        data:'',
        methods:{
            logout: function () {
                var url = "logout";
                axios.post(url).then(function (response) {
                    console.log(response.data);
                    if (response.data.code == 0) location.href = "fore_login";
                });
            }
        }
    })
</script>
</body>
</html>
