<!--新增用户界面-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="webjars/jquery/2.0.0/jquery.min.js"></script>
    <link href="webjars/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script> <!-- vue.js 格式化日期用的 -->
    <!--数据校验插件静态资源文件-->
    <script src="js/bootstrapValidator.min.js"></script>
    <link href="css/bootstrapValidator.min.css" rel="stylesheet">
    <script>
        $(function () {
            $('form').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        message: '用户名验证失败',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 18,
                                message: '用户名长度必须在6到18位之间'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9_]+$/,
                                message: '用户名只能包含大写、小写、数字和下划线'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            regexp: {
                                /*手机号1开头，第二位34578 然后11位*/
                                regexp: /^1[3|4|5|7|8][0-9]{9}$/,
                                message: '请输入正确的11位手机号码'
                            }
                        }
                    },
                    name: {
                        validators: {
                            regexp: {
                                /*中文 两位能识别·的外国性名*/
                                regexp: /^[\u4E00-\u9FA5\uf900-\ufa2d·s]{2,20}$/,
                                message: '请输入正确的姓名'
                            }
                        }

                    },
                    role:{
                        message :'角色验证失败',
                        validators:{
                            notEmpty:{
                                message:'角色不能为空'
                            },
                            callback: {
                                callback: function(value, validator) {

                                    if (value == -1) {
                                        return false;
                                    } else {
                                        return true;
                                    }

                                }
                            }
                        }
                    },
                },
                submitHandler: function (validator, form, submitButton) {
                    alert("submit");
                }
            });
        });
    </script>

</head>

<style>
    div.container div.row div {
        margin: 5px 0px;
        text-align: center;
    }
</style>


<script type="text/javascript">
        $(function () {
            /*文档加载开始*/

            var data4Vue = {
                uri: "user",
                bean: {id: "", name: "", password: "",realname:"",phone:"",role:""}
            };

            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                methods: {
                    add: function () {
                        /*无内容直接提交验证*/
                        if(this.bean.name==''||this.bean.password==''||this.bean.role=='')
                            return;


                        var url = this.uri;
                        var formData = new FormData();
                        formData.append("name", this.bean.name);
                        formData.append("password", this.bean.password);
                        formData.append("realname", this.bean.realname);
                        formData.append("phone", this.bean.phone);
                        formData.append("role",this.bean.role);
                        axios.post(url, formData).then(function (response) {
                            console.log(response.data);
                            if(response.data.code!=0){
                                alert("增加失败");
                            }else{
                                alert("增加成功");
                                this.bean = {id: "", name: "", password: "",realname:"",phone:"",role:""};
                            }
                        });
                    },
                    logout: function () {
                        var url = "logout";
                        axios.post(url).then(function (response) {
                            console.log(response.data);
                            if (response.data.code == 0) location.href = "fore_login";
                        });
                    },
                }
            });


        });


    </script>

<!--表单校验-->
<script>
    $(function () {
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '用户名长度必须在6到18位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '用户名只能包含大写、小写、数字和下划线'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                },
                phone: {
                    validators: {
                        regexp: {
                            /*手机号1开头，第二位34578 然后11位*/
                            regexp: /^1[3|4|5|7|8][0-9]{9}$/,
                            message: '请输入正确的11位手机号码'
                        }
                    }
                },
                name: {
                    validators: {
                        regexp: {
                            /*中文 2-7位*/
                            regexp: /^([\u4e00-\u9fa5]){2,7}$/,
                            message: '请输入正确的姓名'
                        }
                    }

                },
                role:{
                    message :'角色验证失败',
                    validators:{
                        notEmpty:{
                            message:'角色不能为空'
                        },
                        callback: {
                            callback: function(value, validator) {

                                if (value == -1) {
                                    return false;
                                } else {
                                    return true;
                                }

                            }
                        }
                    }
                },
            },
            submitHandler: function (validator, form, submitButton) {
                alert("submit");
            }
        });
    });
</script>
<body>
<div id="workingArea">
    <div class="container">
        <div class="row">
            <!--栅栏布局12列开始-->
            <div class="col-md-12">
                <div th:replace="include/admin/adminNavigator::html"></div>
            </div>

            <!--面包屑导航-->
            <div class="col-md-12" style="text-align: left">
                <ol class="breadcrumb">
                    <li><a href="/home">个人中心</a></li>
                    <li>新增用户</li>
                </ol>
            </div>
            <!--栅栏布局3列-->
            <div th:replace="include/admin/adminLeftMenu::html"></div>

            <!--栅栏布局9列开始-->
            <div class="col-md-9 ">
                <div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">用户名：</label>
                            <div class="col-sm-6">
                                <input name="username" class="form-control"  v-model="bean.name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-4 control-label">密码：</label>
                            <div class="col-sm-6">
                                <input name="password" class="form-control"  v-model="bean.password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-4 control-label">手机号：</label>
                            <div class="col-sm-6">
                                <input placeholder="选填" name="phone" class="form-control"  v-model="bean.phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-4 control-label">姓名：</label>
                            <div class="col-sm-6">
                                <input placeholder="选填" name="name" class="form-control"  v-model="bean.realname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-4 control-label">角色：</label>
                            <div class="col-sm-6">
                                <!--<input  class="form-control" disabled="disabled" v-model="bean.role" />-->
                                <select name="role" class="form-control" v-model="bean.role" >
                                    <option selected="selected"  value="" disabled="disabled">请选择一个角色</option>
                                    <option>管理员</option>
                                    <option>新闻投稿员</option>
                                    <option>新闻审核员</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary" @click="add">增加</button>
                        <!--<button type="submit" class="btn btn-primary" >增加</button>-->
                        </div>
                    </form>

                </div>
            </div>
            <!--栅栏布局9列结束-->
        </div>
    </div>
</div>

</body>
</html>